nav.navbar.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
			a.navbar-brand(href="#") 刺激1995 The Shawshank Redemption
		.nav.navbar-nav.navbar-right
			li
				a(href="#section_ask") 劇情簡介 PLOT
			li
				a(href="#section_about") 演員 ACTOR
			li
				a(href="#section_video") 預告 TRAILER
			li
				a(href="https://www.youtube.com/embed/N9vpxBY_c2M") 直接跑去看 watch it now!

header.jumbotron
	.container
	h1 刺激1995
	hr
	h4 The Shawshank Redemption
section#section_ask
	.container
		.row
			.col-sm-5.img
			.col-sm-7
				h2 劇情簡介
				h4 銀行家安迪本欲報復外遇的妻子，但在行動之前打消主意，卻不料其妻及其情夫當晚即遭人殺害，安迪遂因此被判無期徒刑，進入「鯊堡」監獄。在獄中，安迪認識了從事黑市交易的囚犯雷，並與其他囚犯慢慢熟稔；在這同時，安迪以其專業知識，逐步引導監獄中的生活，讓事情開始有了轉變…。	
section#section_about
	.container
		.row
			.col-sm-12
				h1 主要演員/Principal Actor
				hr
			.col-sm-4
				.img_wrap
					img(src="https://goo.gl/RLBstZ", alt="")
				h3 安迪·杜佛蘭 
				h5 提姆·羅賓斯 Tim Robbins 飾
				p 年輕的銀行家，原想報復妻子外遇，但後來反悔而打消念頭，但不料妻子及情夫在當晚剛好遭殺害，因此而被誣陷為殺害兩人的兇手，而被關進鯊堡監獄。
			.col-sm-4
				.img_wrap
					img(src="https://goo.gl/xYFTiq", alt="")
				h3 艾利斯·波伊德·「瑞德」·瑞丁
				h5 摩根·費里曼 Morgan Freeman 飾
				p 鯊堡監獄的囚犯之一，也是獄中的交易商，跟安迪結為好友。
			.col-sm-4
				.img_wrap
					img(src="https://goo.gl/RgKBWF", alt="")
				h3 巴布·岡頓
				h5 薩穆埃爾·諾頓 Warden Samuel Norton 飾
				p 鯊堡監獄的典獄長，利用安迪替幫他汙錢、作黑帳。
section#section_video
	.container
		.row
			.col-sm-12
				h1 電影預告/TRAILER
				hr 
			.col-sm-12
				.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive-item(src='https://www.youtube.com/embed/AAzVYa3L31M', allowfullscreen='')